.gameWrapper{
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 740px;
  }

.imageUrl{
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 740px;
  }

.gameTextWrap{
    z-index: 1;
    position: absolute;
    bottom: 0;
    display:flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: right;
    text-align: center;
  
  }
  
  .gameBox{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    width: 30vw;
    min-width: 400px;
    height: 500px;  
    margin-right: 100px;

    color:white;
    background: rgba(107, 99, 99, 0.3);
  }
  
  .gameTitle{
    font-size: 56px;
    padding: 20px;
    padding-top: 30px;
    color:white
  }
  
  .gameText{
    font-size: 20px;
    padding: 14px;
    color:white
  }
  
  .gameButton{
      width:220px;
      min-width:220px;
      height: 40px;
      background-color: #ea4c88; 
      border-radius: 5px;
      text-align: center;
  
      color: white;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 3;
  
      cursor: pointer;
  }
  
  .gameButton:hover {
    box-shadow: 0 0 9px  #ea4c88;
  }
  
  .gameButton:active {
    background:rgb(234, 76, 136,0.8);
  }
  
  .gameFields{
    display:flex;
    flex-direction: column;

    align-items: left;
    justify-content: left;
    text-align: left;
  
  }

  
  .rating{
    color:white;
    padding-bottom: 10px;
    font-size: 16px;
  }
  
  .exists{
    color: #69be15;
    white-space: nowrap;  
    font-size: 14px;
  }